@font-face {
  font-family: monument;
  src: url(./MonumentExtended-Ultrabold.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
  padding-top: 0.1px;
  overflow-x: hidden;
}
#nav {
  height: 11vh;
  width: 100%;
  margin-top: 40px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav > h2 {
  height: 100%;
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
}
#nav h2:nth-last-child(1) {
  width: 10%;
  
}
#nav > h3{
display: none;
}
#nav > h1 {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monument;
  font-size: 2.5vmax;
  letter-spacing: -2;
  display: flex;
}
#nav > h1::after {
  content: "©";
  font-size: 2vw;
  font-family: sans-serif;
  height: 7vh;
}
#nav > h1::before {
  content: "model management";
  font-size: 1vw;
  font-family: sans-serif;
  font-weight: 300;
  top: 12.5%;
  position: absolute;
  left: 6%;
}
#center {
  height: 90%;
  width: 100%;
  position: relative;
  padding: 4vw;
}
#content {
  width: 100%;
  height: 100%;

  position: relative;
}
#content > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#overlay {
  width: 100%;
  height: 52%;

  position: absolute;
  bottom: 0;
  padding: 3vw;
  color: white;
}
#over1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
}
#over1 > h1 {
  font-family: monument;

  font-size: 3.6vw;
  font-weight: 100;
}
#over1 > h2 {
  padding: 2vw 2.5vw;
  font-size: 1vw;
  border-radius: 50%;
  border: 1px solid white;
}
#over2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid white;
  padding: 1.5vw 0vw;
}
#over2 > h4 {
  font-size: 1.3vw;
  font-weight: 500;
}
#over2 > img {
  height: 3vw;
}
#scroll {
  height: 40vh;
  width: 100%;
 
 display: flex;
 overflow-x: auto;

}
#container{
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: anime;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  
}
#container>img{
  position: relative;
}
#scroll::-webkit-scrollbar{
  background-color: transparent;
  height: 2px;
}

#scroll img{
  height: 60%;
  border-radius: 50%;
  width:20%;
  object-fit: cover;
  margin-right: 15px;
  margin-left: 15px;
  object-position: 30% 30%;
}

#alphabet{
  height: 10vh;
  width: 100%;
  /* background-color: chocolate; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#alphabet>h5{
  font-size: 1.7vw;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
border-bottom: 2px solid black;
}
#alphabet>h6{
  font-size: 0.8vw;
  padding: 0.5vw 0.7vw;
  letter-spacing: 2px;
  font-style: italic;
  /* background-color: blue; */
  margin: 3px;
  cursor: pointer;
  border-radius: 50%;

  transition: all ease 0.2s;
/* border: 1px solid black; */
}
#alphabet>h6:hover{
  border: 1px solid black;
  
}
#page2{
  height: 100%;
  width: 100%;
  /* background-color: brown; */
  margin-top: 0.1px;
  padding: 2vw 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
}
#page2-part1{
  height: 100%;
  width: 50%;
  background-image: url("https://images.unsplash.com/photo-1559107856-54768f8174ae?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGdpcmwlMjBtb2RlbHN8ZW58MHx8MHx8fDA%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#page2-part2{
  height: 100%;
  width: 46%;
  
}


#page2-part2 img{
  object-fit: cover;
  height: 80%;
  width: 100%;
}
#page2-part2-bottom{
  display: flex;
  width: 100%;
  height: 20%;
  
  display: flex;
  flex-direction: row;
  padding-top: 2.5vw;
}
#page2-part2-bottom-left>h4{
  font-size: 1.2vw;
  
}
#page2-part2-bottom-right>p{
  font-size: 1.2vw;
  text-align: start;
  margin-left: 4px;
}
#page3{
  height: 100vh;
  width: 100%;
  /* background-color: aquamarine; */
  padding: 2vw 4vw;
  display: flex;
  justify-content: space-between;

}

#page3-left{
  width: 40%;
  height: 100%;
  /* background-color: crimson; */
  
}
#page3-right{
  width: 60%;
  height: 100%;
  /* background-color: rgb(23, 158, 84); */
  background-image: url("https://images.unsplash.com/photo-1632304200976-4a29cdc59754?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}
#page3-left-top{
  height: 80%;
  width: 100%;
  
}

#page3-left-top>#image{
  left: 20%;
  top: 40%;
  position: relative;
  width: 50%;
  animation-name: circular;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  mix-blend-mode: multiply;
}
#page3-left-bottom{
  height: 20%;width: 100%;
  
}
#page3-left-bottom>h3{
  font-weight: 300;
  font-size: 2vw;
}

#page4{
  width: 100%;
  height: 80%;
  /* background-color: aqua; */
  padding: 2vw 4vw;
}
#page4>img{
  width: 100%;height: 100%;
  object-fit: cover;
}

#page5{
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  padding: 1vw 4vw;
}
#page5>h2{
  text-align: center;
  font-family: monument;
  font-size: 3vw;
}
#elem{
  border-top: 1px solid black;
  height: 15vh;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
}
#elem:nth-last-child(1){
  border-bottom: 1px solid black;
  height: 18vh;
}
#elem>h4{
  /* background-color: aquamarine; */
  width: 3vw;
  font-size: 1.3vw;
  font-weight: 300;
}
#elem>img{
  position: absolute;
  margin-top: 10px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  left: 20%;
  opacity: 0;
  transition: all ease 0.7s;
object-fit: cover;
}

#elem:hover>img{
  opacity: 1;
 left:30%
}
#elem-part2{
  /* background-color: chocolate; */
  width: 40%;
}
#elem-part2>p{
  font-size: 1vw;
  font-weight: 300;
}
#elem-part2>h2{
  font-size: 2.5vw;
  font-weight: 300;
}
#marque{
  width: 100%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1vw;
}
#marque>h1{
  display: inline-block;
  font-size: 3vw;
  font-weight: 900;
  -webkit-text-stroke: 2px black ;
  color: transparent;
  font-family: monument;
  animation-name: round;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-right: 16px;
  
}

#page6{
  
  height: 80%;
  width: 100%;
  /* background-color: chocolate; */
  padding: 2vw 4vw;
 
}
#page6>img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#page7{
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
  padding: 2vw 4vw;
  display: flex;
  justify-content: space-around;
}
#page7>h3{
  font-family: monument;
  font-size: 2vw;
  
  /* background-color: blue; */
}
#page7-center1{
  width: 40%;
  height: 100%;
  /* background-color: coral; */
}
#page7-center2{
  width: 40%;
  height: 100%;
  /* background-color: rgb(21, 192, 126); */
}
#page7-center1>img{
  height: 80%;
  width: 80%;
  object-fit: cover;
  position: relative;
  left: 10%;
  
}
#page7-center1-text{
  width: 80%;
  height: 20%;
  /* background-color: bisque; */
  position: relative;
  left: 10%;
  justify-content: center;
  align-items: center;
}
#page7-center1-text>h3{
  font-weight: 300;
  padding-top: 3vh;
  text-align: center;
  font-size: 1.2vw;
 
}
#page7-center2>img{
  height: 80%;
  width: 80%;
  object-fit: cover;
  position: relative;
  left: 10%;
  
}

#footer{
  height: 60%;
  width: 100%;
  /* background-color: aquamarine; */
  /* margin-bottom: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2vw 0vw;
  bottom: 10%;
  top: 10%;
  position: relative;
  
}
#footer>h1{
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monument;
  font-size: 2.5vmax;
  letter-spacing: -4;
  display: flex;
  /* background-color: brown; */
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-left: 10px;
  position: relative;
}
#footer>h1::after{
  content: "©";
  font-family: sans-serif;
  font-size: 1vw;
}
#footer>h1::before{
  content: "model management";
  font-family: sans-serif;
  font-size: 1vw;
  font-weight: 300;
  position: absolute;
  top: 53%;
  padding-left: 1.6vw;
  
}
#footer>h2{
  height: 100%;
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#footer-part2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: chocolate; */
  height: 100%;
  width: 100%;
}
#footer-part2-top{
  width: 100%;
  height: 50%;
  /* background-color: rgb(15, 211, 120); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
}
#footer-part2-bottom{
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  width: 100%;
  height: 50%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
}

#footer-part2-top>h2{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
}
#footer-part2-bottom>h3{
  letter-spacing: 20px;
  padding-bottom: 10px;
}

@keyframes round{
  from{transform: translateX(0);
  }
  to{
    transform: translateX(calc(-100% - 20px));
  }
}


@keyframes circular {
  from{
    rotate:0deg
  }
  to{
    rotate: 360deg;
  }

}

@keyframes anime {
  to{transform: translateX(0);
  }
  from{
    transform: translateX(-100%);
  }
}


@media (max-width:550px) {
  #nav {
    height: 6vh;
    width: 100vw;
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #nav > h2 {
    height: 100%;
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    display: none;
  }
  #nav h2:nth-last-child(1) {
    width: 10%;
    
  }
  #nav > h1 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monument;
    font-size: 3.0vw;
    letter-spacing: -2;
    display: flex;
    padding-left: 50px;
  }
  #nav > h1::after {
    content: "©";
    font-size: 2.0vw;
    font-family: sans-serif;
    position: absolute;
    top: 5%;
    left: 24.5%;
    padding-top: 2%;
    display: none
    ;
  }
  #nav > h1::before {
    content: "model management";
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: 300;
    top:8.5%;
    position: absolute;
    left: 12%;
    display: none;
  }
  #nav > h3{
    display: block;
    padding-right: 10px;
  }
  #center {
    height: 50vh;
    width: 100vw;
    position: relative;
    padding: 4vw;
  }
  #content {
    width: 100%;
    height: 100%;
    position: relative;
  }
  #content > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #overlay {
    width: 100%;
    height: 15vh;
    position: absolute;
    bottom: 13%;
    padding: 3vw;
    color: white;
  }
  #over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
  }
  #over1 > h1 {
    font-family: monument;
  
    font-size: 2.0vw;
    font-weight: 100;
  }
  #over1 > h2 {
    padding: 2vw 2.5vw;
    font-size: 2vw;
    border-radius: 50%;
    border: 1px solid white;
  }
  #over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    padding: 1.5vw 0vw;
  }
  #over2>h2{
    font-size: 4vw;
  }
  #over2 > h4 {
    font-size: 1.3vw;
    font-weight: 500;
  }
  #over2 > img {
    height: 3vw;
  }
  #scroll {
    height: 14vh;
    width: 100%;
   
  
  }
  
  
  #alphabet{
    height: 3vh;
    width: 100vw;
    /* background-color: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  #alphabet>h5{
    font-size: 1.7vw;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2px;
  border-bottom: 2px solid black;
  }
  #alphabet>h6{
    font-size: 1vw;
    padding: 0.2vw 0.3vw;
    letter-spacing: 2px;
    font-style: italic;
    /* background-color: blue; */
    margin: 3px;
    cursor: pointer;
    border-radius: 50%;
  
    transition: all ease 0.2s;
  /* border: 1px solid black; */
  }
  #page2{
    height: 50vh;
    width: 100%;
    /* background-color: brown; */
    margin-top: 0.1px;
    padding: 2vw 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    flex-direction: row;
  }
  #page2-part2-bottom-left>h4{
    font-size: 1.8vw;
    
  }
  #page2-part2-bottom-right>p{
    font-size: 1.8vw;
    text-align: start;
    margin-left: 4px;
  }
  #page3{
    height: 50vh;
    width: 100%;
    /* background-color: aquamarine; */
    padding: 2vw 4vw;
    display: flex;
    justify-content: space-between;
  }
  #page4{
    width: 100%;
    height: 40%;
    /* background-color: aqua; */
    padding: 2vw 4vw;
  }
  #page5{
    height: 50%;
    width: 100%;
    /* background-color: blue; */
    padding: 1vw 4vw;
  }
  #elem{
    border-top: 1px solid black;
    height: 5vh;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
  }
  #elem:nth-last-child(1){
    border-bottom: 1px solid black;
    height: 8vh;
    margin-top: 0px;
  }
  #elem:nth-last-child(1)>img{
    margin-top: 0px;
  }
  #elem>h4{
    /* background-color: aquamarine; */
    width: 3vw;
    font-size: 1.3vw;
    font-weight: 300;
  }
  #elem>img{
    position: absolute;
    margin-top: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    left: 20%;
    margin-top:20px;
    opacity: 0;
    transition: all ease 0.7s;
  object-fit: cover;
  }
  
  #elem:hover>img{
    opacity: 1;
   left:30%
  }
  #elem-part2{
    /* background-color: chocolate; */
    width: 40%;
  }
  #elem-part2>p{
    font-size: 1vw;
    font-weight: 300;
  }
  #elem-part2>h2{
    font-size: 2.5vw;
    font-weight: 300;
  }
  #page6{
  
    height: 40%;
    width: 100%;
    /* background-color: chocolate; */
    padding: 2vw 4vw;
   
  }
  #marque{
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1vw;
  }
  #marque>h1{
    display: inline-block;
    font-size: 3vw;
    font-weight: 900;
    -webkit-text-stroke: 2px black ;
    color: transparent;
    font-family: monument;
    animation-name: round;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 16px;
    
  }
  #marque::-webkit-scrollbar{
    background-color: transparent;
  }
  #page7{
    width: 100%;
    height: 60%;
    /* background-color: aqua; */
    padding: 2vw 4vw;
    display: flex;
    justify-content: space-around;
  }
  #page7>h3{
    font-family: monument;
    font-size: 2vw;
    
    /* background-color: blue; */
  }
  #page7-center1{
    width: 45%;
    height: 100%;
    /* background-color: coral; */
  }
  #page7-center2{
    width: 45%;
    height: 100%;
    /* background-color: rgb(21, 192, 126); */
  }
  #page7-center1>img{
    height: 50%;
    width: 80%;
    object-fit: cover;
    position: relative;
    left: 10%;
    
  }
  #page7-center1-text{
    width: 80%;
    height: 20%;
    /* background-color: bisque; */
    position: relative;
    left: 10%;
    justify-content: center;
    align-items: center;
  }
  #page7-center1-text>h3{
    font-weight: 300;
    padding-top: 3vh;
    text-align: start;
    font-size: 2.5vw;
   
  }
  #page7-center2>img{
    height: 50%;
    width: 80%;
    object-fit: cover;
    position: relative;
    left: 10%;
    
  }
  #footer{
    height: 30vh;
    width: 100%;
    /* background-color: aquamarine; */
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2vw 0vw;
    bottom: 10%;
    top: 10%;
    position: relative;
    
  }
  #footer>h1::after{
    content: "©";
    font-family: sans-serif;
    font-size: 1vw;
  }
  #footer>h1::before{
    content: "model management";
    font-family: sans-serif;
    font-size: 1vw;
    font-weight: 300;
    position: absolute;
    top: 53%;
    padding-left: 1.6vw;
    
  }
  #footer>h2{
    height: 100%;
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 2.0vw;
    font-weight: 600;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  #footer-part2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: chocolate; */
    height: 100%;
    width: 100%;
  }
  #footer-part2-top{
    width: 100%;
    height: 50%;
    /* background-color: rgb(15, 211, 120); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
  }
  #footer-part2-bottom{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    width: 100%;
    height: 50%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
  }
  
  #footer-part2-top>h2{
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 2.0vw;
    font-weight: 600;
  }
  #footer-part2-bottom>h3{
    letter-spacing: 1vw;
    padding-bottom: 5px;
    font-size: 2.0vw;
  }
  #footer-part2-bottom>p{
    font-size: 1.5vw;
  }
  #footer>h1{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monument;
    font-size: 3.5vw;
    letter-spacing: -4;
    display: flex;
    /* background-color: brown; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-left: 10px;
    position: relative;
  }
  #main {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 0.1px;
    overflow-x: hidden;
  }
  
@keyframes round{
  from{transform: translateX(0);
  }
  to{
    transform: translateX(calc(-100% - 20px));
  }
}


@keyframes circular {
  from{
    rotate:0deg
  }
  to{
    rotate: 360deg;
  }

}

@keyframes anime {
  to{transform: translateX(0);
  }
  from{
    transform: translateX(-100%);
  }
}
#container{
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: anime;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  
}
#container>img{
  position: relative;
  height: 20vh;
  width: 20vw;

}
#scroll::-webkit-scrollbar{
  background-color: transparent;
  height: 2px;
}

#scroll img{
  height: 60px;
  border-radius: 50%;
  width:120px;
  object-fit: cover;
  margin-right: 15px;
  margin-left: 15px;
  object-position: 30% 30%;
}
#scroll {
  height: 14vh;
  width: 100%;
 
}
}


@media (min-width:551px)and(max-width:900px) {
  #scroll {
    height: 30vh;
    width: 100%;
   display: flex;
   overflow-x: auto;
  
  }
  #nav > h1::before {
    content: "model management";
    font-size: 1.5vmin;
    font-family: sans-serif;
    font-weight: 300;
    top: 11.5%;
    position: absolute;
    left: 4%;
    display: none;
  }
  
}
@media (min-width:901px) {
  #scroll {
    height: 60vh;
    width: 100%;
   
   display: flex;
   overflow-x: auto;
  
  }
  #container{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    
  }
  #container>img{
    position: relative;
  }
  #scroll::-webkit-scrollbar{
    background-color: transparent;
    height: 2px;
  }
  
  #scroll img{
    height: 60%;
    border-radius: 50%;
    width:20%;
    object-fit: cover;
    margin-right: 15px;
    margin-left: 15px;
    object-position: 30% 30%;
  }
  
}